.MMM-WunderGround .weathericon {
  font-size: 45%;
  line-height: 5px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
} 
.MMM-WunderGround .day {
  padding-left: 0;
#  padding-right: 10px;
}

.MMM-WunderGround .vcen {
   vertical-align: top;
}

.MMM-WunderGround .weather-icon {
  padding-left: 0px;
  text-align: center;
  width:50px; 
}

.MMM-WunderGround .max-temp {
  padding-left: 0px;
  padding-right: 0;
}

.MMM-WunderGround .min-temp {
#  padding-left: 10px;
#  padding-right: 0;
}

.MMM-WunderGround .forecastText {
# padding-left: 10px;
#  padding-right: 0;
#  word-wrap: break-word;
#  text-align: right;
#  rowspan: 0;
}

.MMM-WunderGround .tableheader {
  font-size: 75%;
  text-align: center;
} 

.MMM-WunderGround .hour {
  font-size: 75%;
  text-align: center;
 } 

.MMM-WunderGround .pop {
  font-size: 86%;
} 
.MMM-WunderGround .mm {
  font-size: 75%;
} 

.MMM-WunderGround .green {
  color: #83FFB3;
}

.MMM-WunderGround .yellow {
  color: yellow;
}

.MMM-WunderGround .red {
  color: #FF4C4C;
}

.MMM-WunderGround .center {
	text-align: center;
	padding-right: 10px; 
}
	
.MMM-WunderGround .left {
	text-align: left;
}

.MMM-WunderGround .lpad {
	padding-left: 10px; 
}

.MMM-WunderGround .currentWeatherIcon {
  font-size: 75%;
  line-height: 45px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
  width: 40%;
  height: 40%;
} 

.MMM-WunderGround .forecastWeatherIcon {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
  width: 50%;
} 

.MMM-WunderGround .moonPhaseIcon {
  height: 34px;
  vertical-align: middle;
} 

.MMM-WunderGround .hrDivider {
        font-size: 10px;
}

.MMM-WunderGround .sub {
    vertical-align: sub;
    font-size: smaller;
}